<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.strechyourbody.rammp.stretchbody">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ProgramActivity"
            android:parentActivityName=".Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.ProfileUserActivity"
            android:label="@string/title_activity_profile_user"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
        <activity android:name=".Activities.CategoryActivity" />
        <activity
            android:name=".Activities.SubCategoryActivity"
            android:parentActivityName=".Activities.CategoryActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.BodyPartActivity"
            android:parentActivityName=".Activities.SubCategoryActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.SubCategoryActivity" />
        </activity>
        <activity
            android:name=".Activities.ExerciseActivity"
            android:parentActivityName=".Activities.BodyPartActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.BodyPartActivity" />
        </activity>
        <activity
            android:name=".Activities.EditProfileActivity"
            android:parentActivityName=".Activities.ProfileUserActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ProfileUserActivity" />
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".Activities.BasicRegisterActivity"
            android:label="@string/title_activity_basic_register"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".Activities.ExerciseDetailActivity" />
        <activity
            android:name=".Activities.FullRegisterActivity"
            android:label="@string/title_activity_full_register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.FinalRegisterActivity"
            android:label="@string/title_activity_final_register"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>